.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  
}
.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h2 {
  color: #3498db;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.login-container button:hover {
  background-color: #2374ab;
}
